body {

  background: white;
}

p {

  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.7em;
  color: #999;
}

#textbox img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 100px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

#sidebarCollapse {
  background: #2C98F0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2C98F0;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -350px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2C98F0;
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
}

#sidebar ul.components {
  padding: 20px 0;
  padding-top: 5px;

}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: rgb(29, 118, 190);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}


a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 350px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

.card {
  max-width: 1000px;
  margin: 0 auto;
}

.btn-xlg {
  padding: .5rem 1rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: .3rem;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -350px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
  }

  #content.active {
    width: calc(100% - 350px);
  }

  #sidebarCollapse span {
    display: none;
  }

  #signOut {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }

}

@media (max-width: 1180px) {
  .btn-xlg {
    padding: .5rem 1rem;
    font-size: 3vw;
    line-height: 1.5;
    border-radius: .3rem;
  }
}
